@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-tracking {
  letter-spacing: 1px; /* Ganti nilai ini sesuai kebutuhan Anda */
}

body {
  font-family: 'Araboto Medium', sans-serif;
}

a:active {
  color: #FF0000; /* Ganti dengan warna yang Anda inginkan saat dipilih */
}




/* CSS untuk menghilangkan garis bawah dari tautan */
a {
  text-decoration: none;
}


@media (max-width: 768px) {

  .text-xl {
    font-size: 1rem;

  }

  .container-about {
    margin: auto;
    margin-right: 10%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center; /* Rata tengah secara horizontal */
  }
  
  .container {/* Ubah padding pada layar seluler */
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center; /* Rata tengah secara horizontal */
    align-items: center; /* Rata tengah secara vertikal */
  
  
  }

  .text-3xl {
    font-size: 1.3rem; /* Ukuran font yang lebih kecil pada layar seluler */
    margin-bottom: 13px; 
  }

  .text-2xl{
    font-size: 0.9rem; 
  }

  .text-9xl {
    font-size: 4rem; 
    margin-bottom: 25px; /* Ukuran font yang lebih kecil pada layar seluler */
  }

  /* Menambahkan margin ke konten agar tidak mengenai navbar */
  .parallax-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Tinggi sesuaikan dengan kebutuhan */
    background-image: url("http://localhost:3000/read-me/img/bgss.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  /* Animasi paralaks */
  .parallax-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Warna latar belakang transparan */
    animation: parallaxAnimation 10s linear infinite alternate; /* Ubah durasi dan timing sesuai kebutuhan */
  }
  
}

@media (max-width: 640px) {
  .sosmed {
    top: 0.8rem; /* Atur jarak dari atas */
    right: 0.8rem; /* Atur jarak dari kanan */
  }


  
  .text-xl {
    font-size: 1rem;

  }

  .container-about {
    margin: auto;
    margin-right: 10%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center; /* Rata tengah secara horizontal */
  }
  
  .container {/* Ubah padding pada layar seluler */
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center; /* Rata tengah secara horizontal */
    align-items: center; /* Rata tengah secara vertikal */
  
  
  }

  .text-3xl {
    font-size: 1.3rem; /* Ukuran font yang lebih kecil pada layar seluler */
    margin-bottom: 13px; 
  }

  .text-2xl{
    font-size: 0.9rem; 
  }

  .text-9xl {
    font-size: 4rem; 
    margin-bottom: 25px; /* Ukuran font yang lebih kecil pada layar seluler */
  }

  /* Menambahkan margin ke konten agar tidak mengenai navbar */
  .parallax-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Tinggi sesuaikan dengan kebutuhan */
    background-image: url("http://localhost:3000/read-me/img/bgss.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  /* Animasi paralaks */
  .parallax-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Warna latar belakang transparan */
    animation: parallaxAnimation 10s linear infinite alternate; /* Ubah durasi dan timing sesuai kebutuhan */
  }

}



/* Add transitions to the links */
.nav-link {
  transition: all 0.3s ease;
}

/* Define styles for the default state */
.nav-link {
  color: white;
}

/* Define styles for the hover state */
.nav-link:hover {
  color: #3b82f6; /* Change to your desired hover color */
}

/* Define styles for the active state */
.nav-link.active {
  color: #047857; /* Change to your desired active color */
}
