@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
*{
  /* outline: 2px solid rgba(255,0,0,0.1); */
}

.custom-tracking {
  letter-spacing: 1px; /* Ganti nilai ini sesuai kebutuhan Anda */
}

body {
  font-family: 'Araboto Medium', sans-serif;
}

@media (max-width: 768px) {
  /* .container {
    padding-right: 10%; 
  } */
  /* .text-xl {
    font-size: 1rem;
  }

  .container-about {
    padding-left: 70px; 
    margin: auto;
    margin-right: 10%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center; 
  }
  
  .container {
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
  
  
  }

  .text-3xl {
    font-size: 1.3rem; 
    margin-bottom: 13px; 
  }

  .text-2xl{
    font-size: 0.9rem; 
  }

  .text-9xl {
    font-size: 4rem; 
    margin-bottom: 25px;
  }

 
  .min-h-screen {
    margin-top: 0px; 
    
  } */
  }



/* Add transitions to the links */
.nav-link {
  transition: all 0.3s ease;
}

/* Define styles for the default state */
.nav-link {
  color: white;
}

/* Define styles for the hover state */
.nav-link:hover {
  color: #3b82f6; /* Change to your desired hover color */
}

/* Define styles for the active state */
.nav-link.active {
  color: #047857; /* Change to your desired active color */
}
